#jokes-container {
    margin-top: 20px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px 8px;
}

.card {
    border: 2px solid black;
    padding: 5px;
}

body {
    background-color: rgb(85,125,205);
}