section {
   
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-template-columns: repeat(3, 1fr);
    gap: 10px
}

.card {
    height: fit-content 80px;
    width: fit-content 40px;
    padding: 5px;;
    border: 1px solid black;
    
}

/* h5 {
    visibility: hidden;
   
} */