ul {
    display: flex;
    flex-wrap: wrap;
}

li {
    border: 2px solid black ;
    width: 200px;
    padding: 2%;
    margin: 2%;
    list-style: none;
    font-weight: bold;
}

.punchline{
    font-weight: normal;
    font-size: 14px;
    display: none;
}

