section {
    display: flex;
    flex-wrap: wrap;
}

p {
    visibility: hidden;

}

ul {
    border: 2px solid black ;
    width: 200px;
    padding: 2%;
    margin: 2%;
    list-style: none;
}

li {
    
}